body{
	margin: 0;
}
section{
	overflow: hidden;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

a{
	color: inherit;
	text-decoration: none;
}

p,h1,h3{
	margin: 0;
	text-align: left;
	padding-left: 20px;
}
h3{
	padding-bottom: 10px;
	padding-top: 10px;
}

ul{
	list-style: none;
	margin: 0;
	padding:0;
}

	.nav{
		height:124px;
		width:100%;
	}

	.container{
		margin: auto;
		max-width:960px;
		width:100%;
	}

	.logo{
		float:left;
		width: 320px;
	}
	footer{
		background-color: #1D1B1B;
		height: 100px;
	}
	.footer-menu{
		padding-top: 30px;
	}
	.footer-menu li{
		color: #C4C0BF;
		font-size: 25px;
		font-weight: 100;
		display: inline-block;
		padding-right: 20px;
	}
	.menu{
		display:inline-block;
		float:right;
	}
	.menu > li{
		font-size: 20px;
		display: inline-block;
	}
	.title-wrapper{
		padding-top: 130px;
		text-align: center;
		width:80%;
	}

	.intro{
		padding-top: 3px;
		float:left;
		width: 50%;
	}
	.right{
		padding-top:55px;

	}

